.page-header {
  border-bottom: 1px solid #bec2bc;
  text-align: center;
  h1 {
    margin: 15px 0;
    font-size: 28px;
    line-height: 1;
    a {
      color: $color--fade-dark-main;
      text-decoration: none;
    }
  }
}

.site-nav {
  margin-top: 15px;
  ul {
    @extend %plain-list;
    display: flex;
    justify-content: center;
  }
  li {
    margin: 0 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		a {
      text-decoration: none;
			height: 100%;
			font-size: 15px;
			padding: 0 10px 5px;
			position: relative;
			color: $color--dark-main;
		}
		a::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -15px;
			width: 30px;
			height: 4px;
			background-color: rgba($color--dark-main, 0.13);
			transition: background-color .3s ease-in;
		}
		a.active::after, a:hover::after {
			background-color: $color--dark-main;
		}
  }
}