@import "variables.scss";

@import "lib/normalize";
@import "lib/sr-only";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: clamp(290px, 90%, 1024px);
  margin: 0 auto;
}

.page-content {
  flex-grow: 1;
}

.page-header {
  padding: 10px 0;
  border-bottom: #ddd 1px solid;
  .container {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer {
  background-color: #333;
  color: #eee;
  text-align: center;
}

.viewer {
  &__header, &__footer {
    background: rgba(0,0,0,.4);
    padding: 5px 0;
    ul {
      @extend %plain-list;
      display: flex;
      justify-content: center;
    }
    button {
      margin: 0 5px;
    }
  }
  &__content {
    position: relative;
    flex-grow: 1;
    background-color: rgba(0,0,0,.2);
  }
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
      margin-left: 10px;
    }
  }
  &__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
  }
}
