<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="viewer">
    <header class="viewer__header">
      <ul>
        <li>
          <button id="viewer-zoom-in">+</button>
        </li>
        <li>
          <button id="viewer-zoom-out">-</button>
        </li>
        <li>
          <button id="viewer-home">0</button>
        </li>
      </ul>
    </header>
    <div id="viewer-block" class="viewer__content">
    </div>
    <footer class="viewer__footer">
      <ul>
        <li>
          <button id="viewer-prev">&lt;</button>
        </li>
        <li>
          <button id="viewer-next">&gt;</button>
        </li>
      </ul>
      <div id="current-page"></div>
    </footer>
  </body>
  <script src="/assets/javascripts/openseadragon.min.js"></script>
  <script>
    (function(){
      let imgSources = [];
      const imgSourcesMin = 1;
      const imgSourcesMax = 12;
      for (i = imgSourcesMin; i < imgSourcesMax + 1; i++) {
        imgSources.push({
          type: 'image',
          url:  `/assets/images/TJTST1_${('00' + i).slice(-3)}.png`
        })
      }
      const viewer = OpenSeadragon({
        id: "viewer-block",
        prefixUrl: "/assets/images/openseadragon/",
        tileSources: imgSources,
        sequenceMode: true,

        zoomInButton:   "viewer-zoom-in",
        zoomOutButton:  "viewer-zoom-out",
        homeButton:     "viewer-home",
        nextButton:     "viewer-next",
        previousButton: "viewer-prev",
      });
      document.getElementById("current-page").innerHTML = 1 + " of " + (imgSourcesMax - imgSourcesMin + 1);
      viewer.addHandler("page", function (data) {
        document.getElementById("current-page").innerHTML = ( data.page + 1 ) + " of " + (imgSourcesMax - imgSourcesMin + 1);
      });
    })();
  </script>
</html>
