<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="viewer">
    <header class="viewer__header">
      <h1><a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>
      <ul>
        <li>
          <button id="viewer-zoom-in">
            <img src="{{ site.baseurl }}/assets/images/icons/plus.svg" alt="zoom in" />
          </button>
        </li>
        <li>
          <button id="viewer-zoom-out">
            <img src="{{ site.baseurl }}/assets/images/icons/minus.svg" alt="zoom out" />
          </button>
        </li>
        <li>
          <button id="viewer-home">
            <img src="{{ site.baseurl }}/assets/images/icons/fit.svg" alt="reset size" />
          </button>
        </li>
      </ul>
    </header>
    <div id="viewer-block" class="viewer__content">
    </div>
    <footer class="viewer__footer">
      <ul>
        <li>
          <button id="viewer-prev">
            <img src="{{ site.baseurl }}/assets/images/icons/prev.svg" alt="prev page" />
          </button>
        </li>
        <li>
          <button id="viewer-next">
            <img src="{{ site.baseurl }}/assets/images/icons/next.svg" alt="next page" />
          </button>
        </li>
      </ul>
      <div id="current-page"></div>
      <div class="viewer__goto-page">
        Go to page: <input type="number" id="goto-page" />
        <button id="goto-page__go">Go</button>
      </div>
    </footer>
  </body>
  <script src="{{ "/assets/javascripts/openseadragon.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascripts/viewer.js" | relative_url }}"></script>
</html>
